[package]
name = "vpy_binary_writer"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lints]
workspace = true

[dependencies]
vpy_linker = { path = "../vpy_linker" }
thiserror = "1.0"

[dev-dependencies]
tempfile = "3.0"
