[package]
name = "vpy_loader"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lints]
workspace = true

[dependencies]
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"
thiserror = "1.0"
glob = "0.3"

[dev-dependencies]
tempfile = "3.8"
